@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Roboto+Condensed:400,700);

* {	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;}



.nav > li > a:hover, .nav > li > a:focus {
	background: #29AFEF;
	color: white !important;
}
.navbar-brand {
	padding: 14px 10px;
}
.navbar-right, .navbar-right .dropdown a {
	font-size: 12px;
}
.navtop_lg {
	margin-left: 5%;
}
.navbar-right {
	margin-top: 10px;
}
.navbar-right a {
	color: #858585 !important;
}
.navbar-right .dropdown-menu a {
	color: white !important;
}
.navbar-collapse {
	padding: 0px;
}
.navbar-default > li > a {
	padding: 16px 32px !important;
	text-shadow: #29AFEF 1px 0px 1px;
}
.navbar-default {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	overflow: hidden;
}
.navbar {
	margin-bottom: 0px;
	margin-top: 20px;
}
.navbar-nav > li > a {
	color: white;
}
.header-top h3 {
	font-weight: 400;
}
.header-top {
	padding-bottom: 10px;
}
/* Press release */
#press .item {
	margin: 0px 20px;
	padding: 10px 0px;
}
#press .item img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#press .item img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
#press .item img:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
	filter: gray; /* IE 6-9 */
}
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
	cursor: url('../images/grabbing.png') 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
.press_wrap {
	margin-top: 20px;
}
.text-large {
	font-size: 17px;
	line-height: 29px;
}
.bg_gray {
	background-color: #E9E9E9;
}
.monitor {
	padding: 20px 0px;
	margin-top: 20px;
}
.reasons_listing .media {

	padding: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.reasons_listing .media p {
	height: 65px;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}
.reasons_listing .media .bg_wrap {
	background: #F3F3F3;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: 10px;
	display: block;
}
.reasons_listing .media .bg_ico {
	background: #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: 15px;
	display: block;
}
.reasons_listing .media .glyphicon {
	font-size: 30px;
}

.reasons_listing .media:hover .bg_wrap {
	background: #8AE2FF;
}
.reasons_listing .media:hover .bg_ico {
	background: #fff;
}
.reasons_listing .media:hover .glyphicon {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: rotate(360deg) scale(1.2);
	-moz-transform: rotate(360deg) scale(1.2);
	-o-transform: rotate(360deg) scale(1.2);
}
.info_bar {
	padding: 30px 0px;
}
.info_bar h2, .info_bar h4, .info_bar h6 {
	padding: 0px;
	margin: 0px;
	color: white;
}
.info_bar h4 {
	font-size: 16px;
	font-weight: 400;
}
.info_bar p {
	color: white;
}
.btn-custom {
	height: 60px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	padding: 0px;
	position: relative;
	border: none;
	margin-bottom: 20px;
}


.btn-custom-small {
	height: 40px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0px;
	position: relative;
	border: none;
	margin-bottom: 20px;
		-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



.bg-info-dark {
	background-color: #00B1EC;
}
.bg-success-dark {
	background-color: #FF5220;
}

.btn-custom-small .cust_ico {
	width: 45px;
	height: 40px;
	-moz-border-radius: 29px 0px 29px 29px;
	-webkit-border-radius: 29px 0px 29px 29px;
	border-radius: 29px 0px 29px 29px;
	top: 0px;
	display: block;
	border-right: 3px solid #fff; 
	float: left;
}



.btn-custom-small .cust_ico .glyphicon {
top: 11px;

}

.btn-custom-small p {
	line-height: 15px !important;
	display: block;
	float: left;
	font-weight: 700;
	font-size: 16px;
	padding: 0px 20px 0px 15px; 
}


.btn-custom .cust_ico {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 75px;
	height: 59px;
	-moz-border-radius: 29px 0px 29px 29px;
	-webkit-border-radius: 29px 0px 29px 29px;
	border-radius: 29px 0px 29px 29px;
	top: 0px;
	display: block;
	border-right: 3px solid #fff;
	float: left;
}


.btn-custom p {
	line-height: 59px !important;
	display: block;
	float: left;
	font-weight: 700;
	font-size: 20px;
	padding: 0px 40px 0px 35px;
	margin:0px !important; 
	
}
.btn-small .btn-custom p{ padding: 0px 20px 0px 15px; font-size:18px; text-align:center;}
.btn-small { margin:55px 0px 10px 0px;}


.btn-custom .cust_ico .glyphicon {
	font-size: 25px;
	line-height: 55px;
}
.border_dash {
	border-top: 1px #EEEEEE dashed;
}
.reasons_wrap {
	margin-bottom: 30px;
}
.reasons_wrap h1 {
	margin: 40px 0px;
}
.btn-success {
	background: #FF7954;
}
.text-success {
	color: #FF7954
}
}
.large_txt {
	font-size: 55px;
}
.testimonials {
	margin-bottom: 30px;
}
.testimonials h1, .steps h1 {
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.testimonials h2, .steps h2 {
	font-weight: normal;
	padding: 0px;
	font-size: 25px;
	margin: 0px 0px 50px 0px;
}
.testimonials article p {
	margin: 0px;
	font-size: 13px;
}
.testimonials article h4 {
	margin: 0px;
}
.testimonials article h6 {
	margin-bottom: 15px;
	margin-top: 0px;
}
.testimonials article {
	border: 1px #E5E5E5 solid;
	border-radius: 7px;
	padding: 20px 10px 13px 10px;
	position: relative;
}
.testimonials article:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	font-size: 10px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #E5E5E5;
	position: absolute;
	bottom: -13px;
	right: 11%;
}
.testimonials .test_wrap {
	margin-bottom: 50px;
}
.testimonials a.view {
	color: #333;
	margin-top: 15px;
	font-size: 14px;
	margin-right: 6%;
}
.steps_bg {
	background-image: -moz-linear-gradient(50% -18% -180deg, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-gradient(linear, 50% -18%, 50% 102%, color-stop(0, rgb(219,219,219)), color-stop(1, rgb(255,255,255)));
	background-image: -webkit-linear-gradient(-180deg, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(-180deg, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(-180deg, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: linear-gradient(-180deg, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdbdbdb,endColorstr=#ffffffff,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdbdbdb, endColorstr=#ffffffff, GradientType=0);
}
#slides-step .carousel-caption {
	position: relative;
	z-index: 0;
	left: 0px;
	top: 0px;
	text-shadow: none;
	color: #333;
	text-align: left;
}
#slides-step {
	min-height: 500px;
}
#slides-step .carousel-caption h1 {
	font-weight: 400;
	font-size: 45px !important;
}
#slides-step .carousel-caption ul.list_items {
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
#slides-step .carousel-caption ul.list_items li {
	width: 100%;
	display: block;
	float: left;
	font-size: 15px;
	padding: 5px 0px;
	font-weight: 700;
}
#slides-step .carousel-caption ul.list_items li span {
	margin-right: 12px;
}
#slides-step .carousel-caption a {
	margin-top: 35px;
}
#slides-step .carousel-indicators li, #slides-step .carousel-indicators li .active {
	width: 46px;
	height: 46px;
	background-color: #CDCDCD;
	border-radius: 50%;
	text-indent: 0px;
	font-size: 25px;
	line-height: 40px;
	color: white;
}
.compitable h3 {
	font-weight: normal;
}
.compitable_wrap {
	border: 1px #E8E8E8 solid;
	border-radius: 10px;
	padding: 20px 0px 0px 0px;
	margin: 25px 0px 20px 0px;
}
.compitable_wrap img, .footer img {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.compitable_wrap:hover img, .footer img:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
	filter: gray; /* IE 6-9 */
}
.bg_light {
	background: #F8F8F8;
}
.post {
	border-bottom: 1px #EEEEEE solid;
	padding-bottom: 20px;
	margin-top: 20px !important;
}
.post p {
	font-size: 13px;
}
.post h4 {
	padding: 0px;
	margin: 0px;
}
.well {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	line-height: 28px;
	background: #fff;
}
.well:hover {
	background: #F9F9F9;
	-webkit-box-shadow: inset 0px 1px 4px #666;
}
.well, .post, .features-pills.nav > li > a, .features-parent {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.news {
	font-size: 14px;
	line-height: normal;
	margin: 25px 0px;
}
.post:hover code {
	background: #F9F9F9;
	color: #333;
}
#news-demo .item {
	display: block;
	width: 100%;
	height: auto;
}
.footer {
	background: url(../images/img_bg_footer.jpg) repeat;
	border-top: 10px #888888 solid;
	padding-top: 35px;
	color: #ABACAC;
	font-size: 12px;
}
.footer a {
	font-size: 12px;
}
.footer a:hover, .footer a:focus, .footer a.active {color:#61C4F3;}
.footer a, .footer h5 {
	color: #ABACAC;
}
.footer .col-links h5 {
	border-bottom: #ABACAC 2px solid;
	padding-bottom: 10px;
	margin-right: 15px !important;
}
.footer .col-links {
	border-right: #B8BBBB 1px dashed;
	width: 25%;
	float: left;
	padding-left: 15px;
}
.footer .col-links ul {
	padding: 0px;
	margin: 15px 0px 0px 0px;
}
.footer .col-links ul li {
	list-style: none;
	padding: 3px 0px;
}
.disclaimer {
	border: #B8BBBB dashed 1px;
	padding: 15px;
	position: relative;
	margin: 40px 0px;
	border-radius: 8px;
}
.disclaimer p {
	margin: 0px;
	padding: 0px;
}
.disclaimer h2 {
	position: absolute;
	top: -45px;
	left: 20px;
	background: #4E4E4E;
	font-weight: 400;
	text-transform: capitalize;
}
.double_border {
	border-top: #373939 1px solid;
	border-bottom: 1px #737777 solid;
	margin-bottom: 15px;
}

.double_border_gray {
	border-top: #e4e4e4 2px solid;
	border-bottom: 2px #e4e4e4 solid;
	margin-bottom: 15px;
}

ul.social_icons {
	margin: 0px;
	padding: 0px;
}
ul.social_icons li {
	list-style: none;
	float: left;
	margin-right: 10px;
	display: block;
}
ul.social_icons li:last-child {
	margin-right: 0px;
}
 @media (max-width: 767px) {
.footer .col-links {
	width: 100%;
	border-right: 0px;
	margin-bottom: 20px;
}
.reasons_listing .media p {
	font-size: 13px;
}




}




.btn-custom-1 p {
	line-height: 59px;
	font-size: 16px;
	padding: 0px 25px;
	color: #333;
}
.btn-custom-1 .glyphicon {
	color: #fff;
}
.terms ol {
	margin-left: 20px;
}
.terms ol li {
	padding: 5px 0px;
}
.terms h2 {
	padding: 0px 0px 15px 0px; margin-top:0px;
	color: #464646;
}
.terms h3, .terms h4, .terms h5 {
	color: #777
}
.header-inner h1 {
	padding: 40px 0px;
}
/* Features */
.features-parent {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.features-pills.nav > li > a {
	padding: 3px 10px !important;
	color: #1F1F1F;
	font-size: 13px;
	text-align: center;
}
.features-pills {
	margin-top: 10px;
}



.features-parent h4 {
	text-transform: uppercase !important;
	color: #7E7E7E;
	font-weight: normal;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 40px;
}
.features-pills.nav > li > a:hover {
	background: #fff;
	color: #333 !important;
}
.condensed {
	padding: 0px 6%;
}
.features_graph {
	padding: 20px 0px;
}
.center-inner { margin:20px 0px;}
 ul.features-links , ul.features-links li{ list-style:none; padding:0px !important; margin:0px !important;}
 ul.features-links li a { color:#535353; font-size:14px; font-family: 'Roboto Condensed', sans-serif;}
  ul.features-links li a.active { color:#66C6F3 !important; text-decoration:underline;}
 ul.features-links li  { padding:5px 0px !important;}
 .feature-panel .panel-title > a { font-size:14px; font-weight:400;}
 
 .feature-panel .panel-info > .panel-heading {
color: #fff;
background-color:#66C6F3;
border-color: #66C6F3;
}

 .feature-panel .panel-heading {
padding: 8px 15px; }




.features-detail article{ padding:0px 0px 30px 30px; border-bottom:2px #eee dashed; margin-bottom:30px;}
.features-detail article h1 {margin-top:0px;}

.hideme
{
    opacity:0;
}
.about { padding-bottom:30px;}
.about h2 { font-weight:normal;}
.about p{ line-height:23px; margin-top:13px; margin-bottom:13px;} .about p img { margin-right:10px;}

.compitable-tabs { margin:20px 0px;}

.compitable-tabs .btn-default.active, .compitable-tabs .btn-default:focus, .compitable-tabs .btn-default:active  {
color: #fff;
background-color: #29afef;
border-color: #29afef;
}

.search-wrap { border:#EEEEEE 1px solid; border-radius:5px !important; height:135px; overflow:hidden; }

.search-wrap  span { margin:15px auto; text-align:center; display:block; width:80px;}


.breadcrumb{ margin-left:0px !important; margin-top:15px;}
.breadcrumb a { color:#888;}

.list-common { margin-left:25px;}
.list-common li  { padding:5px 0px;}
.buynow .head-section, .buynow .head-section-2 { color:white; margin:0px !important; padding:10px 0px 10px 10px !important; font-size:20px;}
.buynow .head-section-2 { color:#595959;}
.buynow-wrap { margin-bottom:85px; margin-top:25px;}
.buynow-wrap h1 { text-transform:capitalize; padding:10px 0px 0px 0px; margin:0px;}
.buynow-wrap h1.text-large { color:white; font-size:36px;}
.bd-gray { border:2px #F0F0F0 solid; border-radius:8px;}
.c-round { width:120px; height:120px; display:block; border-radius:50%; margin:10px auto; border:2px
#fff solid;}
.text-white { color:white !important;}
.c-round h1 { padding-top:35px;}
.month-wrap { width:100%; display:block; font-size:20px;}
.bd-none{ border-top:none !important;}

.table-pricing { color:#666; cursor:default;}
.table-pricing .price {font-size: 14px;
font-weight: 700;
color: #333;
}
.table-hover > tbody > tr:hover > td.price , .table-hover > tbody > tr:hover > th.price  {
color:#28AEEE;
}

.premium .table-hover > tbody > tr:hover > td.price , .premium .table-hover > tbody > tr:hover > th.price  {
color:#FF7149; cursor:default;
}

.pk-premium:hover .c-round, .pack:hover .c-round { border-radius:50%; box-shadow:0px 0px 20px #C1C1C1;}

.pk-premium:hover {box-shadow:0px 0px 20px #C1C1C1;}


.pk-premium { position:absolute; border:#FF7149 2px solid; border-radius:8px; padding:0px 15px 10px 15px; background:#fff; top:-10px; left:2.5%;}
.bg-orange { background:#FF7149;}.text-orange  { color:#FF7149;}

@media (max-width: 767px) { 

.pk-premium { position:relative; left:0px; margin-top:20px;}


}

.short { padding:0px; margin:0px; color:#666;}
/* label packages */

.label-green { width:50px; height:68px; position:absolute; color:white; font-weight:700; padding-top:5px; text-align:center; padding-right:7px; display:block; background:url(../images/label-green.png) no-repeat; z-index:999; left: -17px;
top: -14px;}

.label-orange { width:72px; height:71px; display:block; background:url(../images/label-orange.png) no-repeat; right:-7px; top:-14px; z-index:999; position:absolute;}
.label-orange div
{
transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
 color:white; font-weight:bold; font-size:11px;
margin-top: 19px;
margin-left: 20px

}
/* faq */

.faq { margin:35px 0px;}

.faq .panel-default > .panel-heading {
color: #333;
background-color: #FDFDFD;
border-color: #FCFCFC; padding: 16px;
}

.faq .panel-default > .panel-heading h4 { font-weight:500;  }


.faq .panel-default {
border-color: #F0F0F0;
}
.faq .label { margin-right:10px;}
.faq .panel-default > .panel-heading + .panel-collapse .panel-body { line-height:25px;}
.pad-30 { margin:30px 0px;}


.quicktour .carousel-caption {

top: 459px;
}

.quicktour .carousel-inner {}
.quicktour .carousel-caption, .quicktour .carousel-caption p  { color:#333; text-shadow:none; left: 0; width:100%}
.login .panel-body { border:1px #F4F4F4 solid;}
.login { box-shadow:0px 0px 20px #D7D7D7 !important; -webkit-box-shadow:0px 0px 20px #D7D7D7 !important; border:1px #fff solid !important; border-radius:10px ;}
.navbar-nav { margin:0px; padding:0px;}
.navbar-collapse { max-height: none!important;}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}

.btn-set { margin-top:10px;}
.btn-set a{ margin:5px 0px !important;}

.help h1 {
padding: 0px 0px 15px 0px;
margin-top: 0px;
color: #464646;
}

.help-section { padding:25px 0px;}.border-box { border:1px }

.carousel-control.right,.carousel-control.left { background-image:none;}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
margin-left: -116px;
font-size: 40px; color:#F1F0F0;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next  {margin-right: -116px; font-size: 40px; color:#F1F0F0;}

.btn-orange { text-shadow:none !important;  border-radius:0px 2px 2px 0px ; border-color:#4F8C10 !important;


	background: -webkit-linear-gradient(#71BE10,#4B8610); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#71BE10,#4B8610); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#71BE10,#4B8610); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#71BE10,#4B8610); /* Standard syntax (must be last) */

}
.btn-orange:hover { 	
	background: -webkit-linear-gradient(#4B8610, #71BE10 )!important; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#4B8610, #71BE10) !important; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#4B8610,#71BE10) !important; /* For Firefox 3.6 to 15 */
	background: linear-gradient(#4B8610,#71BE10) !important; /* Standard syntax (must be last) */}






.carousel-indicators {
bottom: -12px;
}


.pack .table > tbody > tr > td { padding:5px;}

.compitable_wrap p { font-size:13px; line-height:15px!important; padding:0px 20px;}.compitable_wrap  h6 { padding-left:15px !important; padding-right:15px !important;}

.bg-feature { background:url(../images/img-features.jpg) no-repeat; background-position:right;}
a.view-feature-btn { margin-top:350px !important; display:block; height:50px; width:150px; margin-left:85px;}

.img-rounded-1 {
border-radius: 22px;
}